:root {
    --white : whitesmoke;
    --black : #191a1a;
    --color: rgba(114, 114, 114, 0.3);
}

body {
    min-width: 350px;
    font-family: 'Gabarito', sans-serif;
    text-align: center;
    /* Background pattern */
    background-color: var(--black);
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
    linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
    background-size: 55px 55px;
}
body * {
    border: none;
    font-size: 20px;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--white);
    text-transform: uppercase;
}

input[type="text"] {
    text-align: center;
    margin-bottom: 20px;
    width: 60%;
    padding: 15px;
    border-radius: 25px;
    background-color: var(--white);
}

form {
    margin: 0 auto;
    width: 30%;
    background-image: linear-gradient(144deg,#8608b4, #492fed 60%,#bd6fda);
    border-radius: 30px;
    padding-top: 10px;
    margin: auto;
    color: var(--white);
}
fieldset {
    text-align: justify;
    padding-left: 20%;
}
legend {
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 15px;
}

input[type="range"] {
    margin: 0 auto;
    cursor: pointer;
    transform: scale(1.2);
    margin-left: 15px;
    margin-right: 20px;
    vertical-align: middle;
}

input[type="checkbox"] {
    transform: scale(1.5);
    cursor: pointer;
}

input[type="number"] {visibility: hidden;}
input:checked + input[type="number"] {
    visibility: visible;
    margin-left: 5px;
    width: 40px;
    border-radius: 5px;
    background-color: var(--white);
}

input[type="submit"] {
    padding: 8px 25px;
    display: block;
    border-radius: 8px;
    margin-top: 30px;
    background: var(--white);
    font-weight: 600;
    color: var(--black);
}
input[type="submit"]:hover {
    background: var(--black);
    color: var(--white);
    cursor: pointer;
}

footer {
    margin-top: 40px;
    color: var(--white);
    font-style: italic;
}

/* Responsive */
@media screen and (max-width: 900px) {
    form { width: 50%; }
}
@media screen and (max-width: 550px) {
    form { width: 80%; }
    input[type="text"] {
        width: 80%;
        font-size: 12px;
    }
}
